@tailwind base;
@tailwind components;
@tailwind utilities;

.turbo-progress-bar {
  height: 4px;
  background-color: #140EBF;
}

/* Custom Webkit Scrollbar for Sidebar & Main Content */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0A0A0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #C4C4C4 transparent;
}